In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.feature_selection import VarianceThreshold

Creating the dataset

In [2]:
data = pd.DataFrame(
    {
        'A':[1,2,4,1,2,4],
        'B':[4,5,6,7,8,9],
        'C':[0,0,0,0,0,0], 
        'D':[1,1,1,1,1,1], 
    }
)

We can see that column C and D are constant column where values are not changing

In [3]:
data.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

In [4]:
thresh = VarianceThreshold(threshold=0.2)
thresh.fit(data)

VarianceThreshold(threshold=0.2)

In [5]:
thresh.feature_names_in_

array(['A', 'B', 'C', 'D'], dtype=object)

In [6]:
thresh.get_support()

array([ True,  True, False, False])

In [7]:
selected_columns = data.columns[thresh.get_support()]

In [8]:
selected_columns

Index(['A', 'B'], dtype='object')

In [9]:
data = data[selected_columns.to_list()]

In [10]:
data.head()

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8

Done

In [11]:
data = pd.read_csv(r"C:\Users\user\Desktop\machine learning tutorial examples\Data Preprocessing\Datasets\train.csv")

In [12]:
data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

In [14]:
data.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

In [15]:
for i in data.columns:
    print(i, data[i].nunique())

ID 76020
var3 208
var15 100
imp_ent_var16_ult1 596
imp_op_var39_comer_ult1 7551
imp_op_var39_comer_ult3 9099
imp_op_var40_comer_ult1 293
imp_op_var40_comer_ult3 346
imp_op_var40_efect_ult1 23
imp_op_var40_efect_ult3 29
imp_op_var40_ult1 224
imp_op_var41_comer_ult1 7421
imp_op_var41_comer_ult3 8961
imp_op_var41_efect_ult1 331
imp_op_var41_efect_ult3 454
imp_op_var41_ult1 8032
imp_op_var39_efect_ult1 336
imp_op_var39_efect_ult3 462
imp_op_var39_ult1 8149
imp_sal_var16_ult1 66
ind_var1_0 2
ind_var1 2
ind_var2_0 1
ind_var2 1
ind_var5_0 2
ind_var5 2
ind_var6_0 2
ind_var6 2
ind_var8_0 2
ind_var8 2
ind_var12_0 2
ind_var12 2
ind_var13_0 2
ind_var13_corto_0 2
ind_var13_corto 2
ind_var13_largo_0 2
ind_var13_largo 2
ind_var13_medio_0 2
ind_var13_medio 2
ind_var13 2
ind_var14_0 2
ind_var14 2
ind_var17_0 2
ind_var17 2
ind_var18_0 2
ind_var18 2
ind_var19 2
ind_var20_0 2
ind_var20 2
ind_var24_0 2
ind_var24 2
ind_var25_cte 2
ind_var26_0 2
ind_var26_cte 2
ind_var26 2
ind_var25_0 2
ind_var25 2
ind_var27_0 1
ind_var28_0 1
ind_var28 1
ind_var27 1
ind_var29_0 2
ind_var29 2
ind_var30_0 2
ind_var30 2
ind_var31_0 2
ind_var31 2
ind_var32_cte 2
ind_var32_0 2
ind_var32 2
ind_var33_0 2
ind_var33 2
ind_var34_0 2
ind_var34 2
ind_var37_cte 2
ind_var37_0 2
ind_var37 2
ind_var39_0 2
ind_var40_0 2
ind_var40 2
ind_var41_0 2
ind_var41 1
ind_var39 2
ind_var44_0 2
ind_var44 2
ind_var46_0 1
ind_var46 1
num_var1_0 3
num_var1 3
num_var4 8
num_var5_0 5
num_var5 5
num_var6_0 2
num_var6 2
num_var8_0 3
num_var8 2
num_var12_0 6
num_var12 4
num_var13_0 7
num_var13_corto_0 3
num_var13_corto 3
num_var13_largo_0 7
num_var13_largo 7
num_var13_medio_0 2
num_var13_medio 2
num_var13 7
num_var14_0 5
num_var14 4
num_var17_0 11
num_var17 9
num_var18_0 2
num_var18 2
num_var20_0 2
num_var20 2
num_var24_0 4
num_var24 3
num_var26_0 9
num_var26 9
num_var25_0 9
num_var25 9
num_op_var40_hace2 19
num_op_var40_hace3 5
num_op_var40_ult1 30
num_op_var40_ult3 35
num_op_var41_hace2 51
num_op_var41_hace3 22
num_op_var41_ult1 68
num_op_var41_ult3 96
num_op_var39_hace2 50
num_op_var39_hace3 22
num_op_var39_ult1 71
num_op_var39_ult3 99
num_var27_0 1
num_var28_0 1
num_var28 1
num_var27 1
num_var29_0 2
num_var29 2
num_var30_0 11
num_var30 9
num_var31_0 11
num_var31 9
num_var32_0 5
num_var32 5
num_var33_0 4
num_var33 3
num_var34_0 2
num_var34 2
num_var35 13
num_var37_med_ult2 21
num_var37_0 22
num_var37 22
num_var39_0 9
num_var40_0 3
num_var40 2
num_var41_0 9
num_var41 1
num_var39 2
num_var42_0 8
num_var42 7
num_var44_0 3
num_var44 2
num_var46_0 1
num_var46 1
saldo_var1 285
saldo_var5 11642
saldo_var6 3
saldo_var8 1989
saldo_var12 3059
saldo_var13_corto 730
saldo_var13_largo 229
saldo_var13_medio 3
saldo_var13 859
saldo_var14 345
saldo_var17 111
saldo_var18 3
saldo_var20 176
saldo_var24 2614
saldo_var26 1592
saldo_var25 1524
saldo_var28 1
saldo_var27 1
saldo_var29 3
saldo_var30 16940
saldo_var31 278
saldo_var32 75
saldo_var33 48
saldo_var34 3
saldo_var37 4041
saldo_var40 282
saldo_var41 1
saldo_var42 15730
saldo_var44 129
saldo_var46 1
var36 5
delta_imp_amort_var18_1y3 2
delta_imp_amort_var34_1y3 2
delta_imp_aport_var13_1y3 27
delta_imp_aport_var17_1y3 7
delta_imp_aport_var33_1y3 9
delta_imp_compra_var44_1y3 17
delta_imp_reemb_var13_1y3 2
delta_imp_reemb_var17_1y3 3
delta_imp_reemb_var33_1y3 2
delta_imp_trasp_var17_in_1y3 3
delta_imp_trasp_var17_out_1y3 2
delta_imp_trasp_var33_in_1y3 3
delta_imp_trasp_var33_out_1y3 2
delta_imp_venta_var44_1y3 5
delta_num_aport_var13_1y3 6
delta_num_aport_var17_1y3 6
delta_num_aport_var33_1y3 4
delta_num_compra_var44_1y3 9
delta_num_reemb_var13_1y3 2
delta_num_reemb_var17_1y3 3
delta_num_reemb_var33_1y3 2
delta_num_trasp_var17_in_1y3 3
delta_num_trasp_var17_out_1y3 2
delta_num_trasp_var33_in_1y3 3
delta_num_trasp_var33_out_1y3 2
delta_num_venta_var44_1y3 5
imp_amort_var18_hace3 1
imp_amort_var18_ult1 3
imp_amort_var34_hace3 1
imp_amort_var34_ult1 3
imp_aport_var13_hace3 425
imp_aport_var13_ult1 182
imp_aport_var17_hace3 20
imp_aport_var17_ult1 42
imp_aport_var33_hace3 16
imp_aport_var33_ult1 6
imp_var7_emit_ult1 4
imp_var7_recib_ult1 184
imp_compra_var44_hace3 33
imp_compra_var44_ult1 85
imp_reemb_var13_hace3 1
imp_reemb_var13_ult1 33
imp_reemb_var17_hace3 2
imp_reemb_var17_ult1 20
imp_reemb_var33_hace3 1
imp_reemb_var33_ult1 2
imp_var43_emit_ult1 2342
imp_trans_var37_ult1 3831
imp_trasp_var17_in_hace3 3
imp_trasp_var17_in_ult1 5
imp_trasp_var17_out_hace3 1
imp_trasp_var17_out_ult1 5
imp_trasp_var33_in_hace3 7
imp_trasp_var33_in_ult1 6
imp_trasp_var33_out_hace3 1
imp_trasp_var33_out_ult1 2
imp_venta_var44_hace3 4
imp_venta_var44_ult1 45
ind_var7_emit_ult1 2
ind_var7_recib_ult1 2
ind_var10_ult1 2
ind_var10cte_ult1 2
ind_var9_cte_ult1 2
ind_var9_ult1 2
ind_var43_emit_ult1 2
ind_var43_recib_ult1 2
var21 24
num_var2_0_ult1 1
num_var2_ult1 1
num_aport_var13_hace3 8
num_aport_var13_ult1 7
num_aport_var17_hace3 5
num_aport_var17_ult1 8
num_aport_var33_hace3 4
num_aport_var33_ult1 3
num_var7_emit_ult1 2
num_var7_recib_ult1 6
num_compra_var44_hace3 4
num_compra_var44_ult1 10
num_ent_var16_ult1 13
num_var22_hace2 22
num_var22_hace3 19
num_var22_ult1 18
num_var22_ult3 33
num_med_var22_ult3 15
num_med_var45_ult3 71
num_meses_var5_ult3 4
num_meses_var8_ult3 4
num_meses_var12_ult3 4
num_meses_var13_corto_ult3 4
num_meses_var13_largo_ult3 4
num_meses_var13_medio_ult3 2
num_meses_var17_ult3 4
num_meses_var29_ult3 3
num_meses_var33_ult3 4
num_meses_var39_vig_ult3 4
num_meses_var44_ult3 4
num_op_var39_comer_ult1 63
num_op_var39_comer_ult3 92
num_op_var40_comer_ult1 34
num_op_var40_comer_ult3 47
num_op_var40_efect_ult1 7
num_op_var40_efect_ult3 9
num_op_var41_comer_ult1 60
num_op_var41_comer_ult3 88
num_op_var41_efect_ult1 25
num_op_var41_efect_ult3 40
num_op_var39_efect_ult1 26
num_op_var39_efect_ult3 40
num_reemb_var13_hace3 1
num_reemb_var13_ult1 2
num_reemb_var17_hace3 2
num_reemb_var17_ult1 5
num_reemb_var33_hace3 1
num_reemb_var33_ult1 2
num_sal_var16_ult1 6
num_var43_emit_ult1 27
num_var43_recib_ult1 38
num_trasp_var11_ult1 18
num_trasp_var17_in_hace3 3
num_trasp_var17_in_ult1 2
num_trasp_var17_out_hace3 1
num_trasp_var17_out_ult1 2
num_trasp_var33_in_hace3 2
num_trasp_var33_in_ult1 3
num_trasp_var33_out_hace3 1
num_trasp_var33_out_ult1 2
num_venta_var44_hace3 3
num_venta_var44_ult1 9
num_var45_hace2 85
num_var45_hace3 66
num_var45_ult1 94
num_var45_ult3 172
saldo_var2_ult1 1
saldo_medio_var5_hace2 14486
saldo_medio_var5_hace3 7787
saldo_medio_var5_ult1 14778
saldo_medio_var5_ult3 17330
saldo_medio_var8_hace2 1325
saldo_medio_var8_hace3 439
saldo_medio_var8_ult1 2116
saldo_medio_var8_ult3 2173
saldo_medio_var12_hace2 2834
saldo_medio_var12_hace3 1152
saldo_medio_var12_ult1 3405
saldo_medio_var12_ult3 3447
saldo_medio_var13_corto_hace2 1628
saldo_medio_var13_corto_hace3 968
saldo_medio_var13_corto_ult1 943
saldo_medio_var13_corto_ult3 2576
saldo_medio_var13_largo_hace2 295
saldo_medio_var13_largo_hace3 264
saldo_medio_var13_largo_ult1 233
saldo_medio_var13_largo_ult3 511
saldo_medio_var13_medio_hace2 3
saldo_medio_var13_medio_hace3 1
saldo_medio_var13_medio_ult1 3
saldo_medio_var13_medio_ult3 3
saldo_medio_var17_hace2 88
saldo_medio_var17_hace3 18
saldo_medio_var17_ult1 119
saldo_medio_var17_ult3 119
saldo_medio_var29_hace2 5
saldo_medio_var29_hace3 2
saldo_medio_var29_ult1 4
saldo_medio_var29_ult3 4
saldo_medio_var33_hace2 43
saldo_medio_var33_hace3 24
saldo_medio_var33_ult1 48
saldo_medio_var33_ult3 48
saldo_medio_var44_hace2 99
saldo_medio_var44_hace3 33
saldo_medio_var44_ult1 141
saldo_medio_var44_ult3 141
var38 57736
TARGET 2

In [16]:
print(len(data.columns))

371

In [17]:
X = data.drop("TARGET", axis=1)
Y = data.TARGET
thresh = VarianceThreshold(threshold=0.2)
thresh.fit(X)

VarianceThreshold(threshold=0.2)

In [18]:
thresh.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False,  True,  True, False,
       False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False,  True,  True, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
       False, False,  True, False, False,  True,  True, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False, False, False, False, False, False, False, False,
        True, False, False,  True, False, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True, False, False, False,
       False, False,  True, False,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [19]:
features_columns = X.columns[thresh.get_support()]

In [20]:
X = X[features_columns.to_list()]

In [21]:
X.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [22]:
for i in X.columns:
    print(i, X[i].nunique())

ID 76020
var3 208
var15 100
imp_ent_var16_ult1 596
imp_op_var39_comer_ult1 7551
imp_op_var39_comer_ult3 9099
imp_op_var40_comer_ult1 293
imp_op_var40_comer_ult3 346
imp_op_var40_efect_ult1 23
imp_op_var40_efect_ult3 29
imp_op_var40_ult1 224
imp_op_var41_comer_ult1 7421
imp_op_var41_comer_ult3 8961
imp_op_var41_efect_ult1 331
imp_op_var41_efect_ult3 454
imp_op_var41_ult1 8032
imp_op_var39_efect_ult1 336
imp_op_var39_efect_ult3 462
imp_op_var39_ult1 8149
imp_sal_var16_ult1 66
ind_var5 2
num_var4 8
num_var5_0 5
num_var5 5
num_var8_0 3
num_var8 2
num_var12_0 6
num_var12 4
num_var13_0 7
num_var13_corto_0 3
num_var13_corto 3
num_var13 7
num_var14_0 5
num_var24_0 4
num_var24 3
num_var26_0 9
num_var26 9
num_var25_0 9
num_var25 9
num_op_var40_hace2 19
num_op_var40_ult1 30
num_op_var40_ult3 35
num_op_var41_hace2 51
num_op_var41_hace3 22
num_op_var41_ult1 68
num_op_var41_ult3 96
num_op_var39_hace2 50
num_op_var39_hace3 22
num_op_var39_ult1 71
num_op_var39_ult3 99
num_var30_0 11
num_var30 9
num_var35 13
num_var37_med_ult2 21
num_var37_0 22
num_var37 22
num_var39_0 9
num_var41_0 9
num_var42_0 8
num_var42 7
saldo_var1 285
saldo_var5 11642
saldo_var6 3
saldo_var8 1989
saldo_var12 3059
saldo_var13_corto 730
saldo_var13_largo 229
saldo_var13_medio 3
saldo_var13 859
saldo_var14 345
saldo_var17 111
saldo_var18 3
saldo_var20 176
saldo_var24 2614
saldo_var26 1592
saldo_var25 1524
saldo_var29 3
saldo_var30 16940
saldo_var31 278
saldo_var32 75
saldo_var33 48
saldo_var34 3
saldo_var37 4041
saldo_var40 282
saldo_var42 15730
saldo_var44 129
var36 5
delta_imp_amort_var18_1y3 2
delta_imp_amort_var34_1y3 2
delta_imp_aport_var13_1y3 27
delta_imp_aport_var17_1y3 7
delta_imp_aport_var33_1y3 9
delta_imp_compra_var44_1y3 17
delta_imp_reemb_var13_1y3 2
delta_imp_reemb_var17_1y3 3
delta_imp_reemb_var33_1y3 2
delta_imp_trasp_var17_in_1y3 3
delta_imp_trasp_var17_out_1y3 2
delta_imp_trasp_var33_in_1y3 3
delta_imp_trasp_var33_out_1y3 2
delta_imp_venta_var44_1y3 5
delta_num_aport_var13_1y3 6
delta_num_aport_var17_1y3 6
delta_num_aport_var33_1y3 4
delta_num_compra_var44_1y3 9
delta_num_reemb_var13_1y3 2
delta_num_reemb_var17_1y3 3
delta_num_reemb_var33_1y3 2
delta_num_trasp_var17_in_1y3 3
delta_num_trasp_var17_out_1y3 2
delta_num_trasp_var33_in_1y3 3
delta_num_trasp_var33_out_1y3 2
delta_num_venta_var44_1y3 5
imp_amort_var18_ult1 3
imp_amort_var34_ult1 3
imp_aport_var13_hace3 425
imp_aport_var13_ult1 182
imp_aport_var17_hace3 20
imp_aport_var17_ult1 42
imp_aport_var33_hace3 16
imp_aport_var33_ult1 6
imp_var7_emit_ult1 4
imp_var7_recib_ult1 184
imp_compra_var44_hace3 33
imp_compra_var44_ult1 85
imp_reemb_var13_ult1 33
imp_reemb_var17_hace3 2
imp_reemb_var17_ult1 20
imp_reemb_var33_ult1 2
imp_var43_emit_ult1 2342
imp_trans_var37_ult1 3831
imp_trasp_var17_in_hace3 3
imp_trasp_var17_in_ult1 5
imp_trasp_var17_out_ult1 5
imp_trasp_var33_in_hace3 7
imp_trasp_var33_in_ult1 6
imp_trasp_var33_out_ult1 2
imp_venta_var44_hace3 4
imp_venta_var44_ult1 45
var21 24
num_aport_var13_hace3 8
num_ent_var16_ult1 13
num_var22_hace2 22
num_var22_hace3 19
num_var22_ult1 18
num_var22_ult3 33
num_med_var22_ult3 15
num_med_var45_ult3 71
num_meses_var5_ult3 4
num_meses_var12_ult3 4
num_meses_var13_corto_ult3 4
num_meses_var39_vig_ult3 4
num_op_var39_comer_ult1 63
num_op_var39_comer_ult3 92
num_op_var40_comer_ult1 34
num_op_var40_comer_ult3 47
num_op_var41_comer_ult1 60
num_op_var41_comer_ult3 88
num_op_var41_efect_ult1 25
num_op_var41_efect_ult3 40
num_op_var39_efect_ult1 26
num_op_var39_efect_ult3 40
num_var43_emit_ult1 27
num_var43_recib_ult1 38
num_trasp_var11_ult1 18
num_var45_hace2 85
num_var45_hace3 66
num_var45_ult1 94
num_var45_ult3 172
saldo_medio_var5_hace2 14486
saldo_medio_var5_hace3 7787
saldo_medio_var5_ult1 14778
saldo_medio_var5_ult3 17330
saldo_medio_var8_hace2 1325
saldo_medio_var8_hace3 439
saldo_medio_var8_ult1 2116
saldo_medio_var8_ult3 2173
saldo_medio_var12_hace2 2834
saldo_medio_var12_hace3 1152
saldo_medio_var12_ult1 3405
saldo_medio_var12_ult3 3447
saldo_medio_var13_corto_hace2 1628
saldo_medio_var13_corto_hace3 968
saldo_medio_var13_corto_ult1 943
saldo_medio_var13_corto_ult3 2576
saldo_medio_var13_largo_hace2 295
saldo_medio_var13_largo_hace3 264
saldo_medio_var13_largo_ult1 233
saldo_medio_var13_largo_ult3 511
saldo_medio_var13_medio_hace2 3
saldo_medio_var13_medio_ult1 3
saldo_medio_var13_medio_ult3 3
saldo_medio_var17_hace2 88
saldo_medio_var17_hace3 18
saldo_medio_var17_ult1 119
saldo_medio_var17_ult3 119
saldo_medio_var29_hace2 5
saldo_medio_var29_hace3 2
saldo_medio_var29_ult1 4
saldo_medio_var29_ult3 4
saldo_medio_var33_hace2 43
saldo_medio_var33_hace3 24
saldo_medio_var33_ult1 48
saldo_medio_var33_ult3 48
saldo_medio_var44_hace2 99
saldo_medio_var44_hace3 33
saldo_medio_var44_ult1 141
saldo_medio_var44_ult3 141
var38 57736

In [23]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X, Y)

RandomForestClassifier()

In [25]:
classifier.score(X, Y)

0.9999079189686925